.intro-box{
  width:50vw;
  height:30vh;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  border-top:20px double transparent;
  border-bottom:20px double transparent;
  border-image: url('../images/punk.jpg') 50 round;
}
.button-intro{
  display:flex;
  justify-content: space-around;
}
